* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  width: 100%;
  height: 34rem;
  color: #fff;
  display: flex;
  background-color: #50514f;
  align-items: center;
  padding: 100px;
  column-gap: 200px;
}


.leftSection {
  width: 40%;
}
.leftSection p:first-child {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.leftSection p:last-child {
  width: 72%;
  font-size: 13px;
  text-align: left;
  letter-spacing: 1px;
  margin-top: 10px;
}
.footbtn {
  display: block;
  width: 80%;
  background-color: #65c297;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 14px;
  letter-spacing: 6px;
  font-weight: 600;
}
.socialicon {
  font-size: 30px;
  margin-top: 18px;
  cursor: pointer;
}
.rightSection {
  width: 100%;
}
.rightbtn {
  width: 100%;
  padding: 16px;
  background-color: #ffb1c7;
  border-radius: 10px;
  font-size: 14px;
  letter-spacing: 5px;
  font-weight: 600;
  color: black;
}
.listSection {
  display: flex;
  gap: 140px;
  padding-left: 30px;
}
.listSection ul {
  text-align: left;
  margin-top: 30px;
}
.listSection ul li {
  margin-top: 4px;
  font-size: 13px;
  list-style: none;
}
.listSection ul li:first-child {
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 1px;
}



 /* Mobile View */
 @media screen and (min-width:250px) and (max-width:480px) {
  .container{
    grid-template-columns: repeat(1);
    row-gap: 20px;
  }
}

 /* Tablet View */
 @media screen and (min-width:481px) and (max-width:1024px) {
  .container{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 60px;
  }
  .leftSection p:first-child {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
  }
  .leftSection p:last-child {
    width: 100%;
    font-size: 10px;
    text-align: left;
    letter-spacing: 1px;
    margin-top: 10px;
  }
  .footbtn {
    display: block;
    width: 80%;
    background-color: #65c297;
    font-size: 12px;
    letter-spacing: 2px;
  }
  .socialicon {
    font-size: 20px;
  }
  .rightSection {
    width: 100%;
  }
  .rightbtn {
    width: 100%;
    padding: 10px;
    background-color: #ffb1c7;
    border-radius: 10px;
    font-size: 12px;
    letter-spacing: 5px;
    font-weight: 600;
    color: black;
  }
  .listSection {
    width: 100%;
    display: flex;
    gap: 60px;
  }
  .listSection ul {
    text-align: left;
    margin-top: 30px;
  }
  .listSection ul li {
    margin-top: 4px;
    font-size: 10px;
  }
  .listSection ul li:first-child {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 10px;
  }
}