.App {
    /* text-align: center; */
  }
  
  .small {
    display: none;
  }
  @media only screen and (max-width: 768px) {
    .small {
      display: block;
    }
    .big {
      display: none;
    }
    
  }
  
  @media screen and (min-width: 480px) and (max-width: 1050px) {
    .big {
      display: none;
    }
  
    .small {
      display: block;
    }
  }
  